.slick-slider {
  margin-bottom: 0;
  background-color: $dark-gray;
  overflow: hidden;
  transform-style: preserve-3d;
  .slick-prev {
    display: none;
    @include breakpoint(medium) {
      display: block;
      left: $global-margin;
      height: auto;
      width: auto;
      z-index: 1;
      &::before {
        font-family: FontAwesome;
        content: "\f104";
        font-size: 8rem;
      }
    }
  }
  .slick-next {
    display: none;
    @include breakpoint(medium) {
      display: block;
      right: $global-margin;
      height: auto;
      width: auto;
      z-index: 1;
      &::before {
        font-family: FontAwesome;
        content: "\f105";
        font-size: 8rem;
      }
    }
  }
  .slick-dots {
    bottom: 0.25rem;
    margin: 0;
    li {
      button::before {
        font-family: FontAwesome;
        content: "\f111";
        color: $white;
        font-size: 1rem;
        @include breakpoint(medium) {
          font-size: 2rem;
        }
      }
    }
    li, li button, li button::before {
      width: 2rem;
      @include breakpoint(medium) {
        width: 2.5rem;
      }
    }
    @include breakpoint(medium) {
      bottom: $global-margin;
    }
  }
  img {
    width: 100%;
  }
  h1 {
    text-transform: uppercase;
    font-weight: bolder;
    color: #FFF;
    width: 100%;
    font-size: 2.5rem;
    @include breakpoint(medium) {
      font-size: 3rem;
    }
    @include breakpoint(large) {
      font-size: 4rem;
    }
  }
  .cta {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .button-group {
    display: inline-block;
    .button:not(:last-child) {
      border-color: transparent;
      margin-right: 4px;
    }
  }
}

.rides {
  padding: $global-margin * 2 0;
  color: $white;
  background-color: $primary-color;
  .date, .button {
    margin-top: $global-margin;
  }
  .callout {
    margin: 0;
    color: $body-font-color;
    background-color: $body-background;
  }
  .button {
    margin-bottom: 0;
  }
}
.time sup {
  font-size: 0.8rem;
  text-transform: uppercase;
  text-decoration: underline;
}

.hero {
  background-color: $accent-color;
  color: #FFF;
  h3 {
    margin:$global-margin 0;
  }
}

.why {
  @extend .clearfix;
  background-color: $alt-color;
  color: #FFF;
  padding-top: $global-margin * 2;
  .row {
    margin-bottom: $global-margin * 2;
    transform-style: preserve-3d;
  }
  @include breakpoint(large) {
    .content {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.news {
  padding: $global-margin 0;
}