@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700,700italic,500italic);
@import 'settings';
@import 'foundation';
@include foundation-everything();
@import "../js/slick-1.5.9/slick/slick";
@import "../js/slick-1.5.9/slick/slick-theme";

// sections
@import "layout/header";
@import "layout/footer";

//modules
@import "modules/rides-calendar";

//pages
@import "pages/home";

img {
  vertical-align: baseline;
}

.swatches {
  &__swatch {
    margin-bottom: 30px;
    &__list {
      &__item {
        padding: 1rem 0;
        font-size: 1.2rem;
        &.alt {
          color: #FFF;
        }
      }
    }
  }
}

.main-section {
  padding-top: $global-margin * 4;
  padding-bottom: $global-margin;
}
.two-col-section {
  position: relative;
  .content {
    position: relative;
    padding-top: $global-margin * 4;
    padding-bottom: $global-margin;
  }
  .sidebar {
    position: relative;
    background-color: #F6F6F6;
    padding: $global-margin * 4 $global-margin $global-margin;
  }
  @include breakpoint(medium) {
    .background {
      background-color: #F6F6F6;
      position: absolute;
      top: 0;
      bottom:0;
      //center + half of grid to get right column
      //- half of column width to get to left of column (without padding)
      left:calc(50% + 600px - 12.5%);
      right:0;
    }
  }
  .sidebar {
    .menu a {
      padding: 0 0 1rem 0;
    }
    section {
      margin-bottom: $global-margin * 2;
    }
  }
}