@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700,700italic,500italic);
@import 'settings';
@import 'foundation';
@include foundation-everything();
@import "../js/slick-1.5.9/slick/slick";
@import "../js/slick-1.5.9/slick/slick-theme";

// sections
@import "layout/header";
@import "layout/footer";
@import "layout/two-col";

//modules
@import "modules/rides-calendar";
@import "modules/leader";
@import "modules/account";
@import "modules/ride";

//pages
@import "pages/home";

img {
  vertical-align: baseline;
}

.main-section {
  padding-top: $global-margin * 4;
  padding-bottom: $global-margin;
}

.term {
  font-weight: bold;
}

.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}