<h2 id="accordion">
    <a class="docs-heading-icon" href="#accordion"></a>
    Accordion
</h2>
<div class="docs-code-live">
    <ul class="accordion" data-accordion role="tablist">
        <li class="accordion-item is-active">
            <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">
                Accordion 1
            </a>
            <div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
                Panel 1. Lorem ipsum dolor
            </div>
        </li>
        <li class="accordion-item">
            <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading"aria-controls="panel1d">Accordion 1</a>
            <div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
                Panel 2. Lorem ipsum dolor
            </div>
        </li>
        <li class="accordion-item">
            <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">
                Accordion 1
            </a>
            <div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
                Panel 3. Lorem ipsum dolor
            </div>
        </li>
    </ul>
</div>