<h2 id="badge">
    <a class="docs-heading-icon" href="#badge"></a>
    Badge
</h2>
<div class="docs-code-live"><span class="secondary badge">2</span>
    <span class="success badge">3</span>
    <span class="alert badge">A</span>
    <span class="warning badge">B</span>
</div>