<h2 id="close-button" class="docs-heading" data-magellan-target="close-button">
    <a class="docs-heading-icon" href="#close-button"></a>
    Close Button
</h2>
<div class="docs-code-live">
    <div class="callout">
        <button class="close-button" aria-label="Close alert" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <p>This is a static close button example.</p>
    </div>
</div>