<h2 id="flex-grid" class="docs-heading" data-magellan-target="flex-grid">
    <a class="docs-heading-icon" href="#flex-grid"></a>
    Flex Grid
</h2>
<div class="row display">
    <div class="small-6 columns">6 columns</div>
    <div class="small-6 columns">6 columns</div>
</div>
<div class="row display">
    <div class="medium-6 large-4 columns">12/6/4 columns</div>
    <div class="medium-6 large-8 columns">12/6/8 columns</div>
</div>