<h2 id="flex-video" class="docs-heading" data-magellan-target="flex-video">
    <a class="docs-heading-icon" href="#flex-video"></a>
    Flex Video
</h2>
<div class="docs-code-live">
    <div class="flex-video">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/V9gkYw35Vws" frameborder="0" allowfullscreen></iframe>
    </div>
</div>