<h2 id="float-classes" class="docs-heading" data-magellan-target="float-classes">
    <a class="docs-heading-icon" href="#float-classes"></a>
    Float Classes
</h2>
<div class="docs-code-live">
    <div class="callout clearfix">
        <a class="button float-left">Left</a>
        <a class="button float-right">Right</a>
    </div>
</div>