<h2 id="interchange" class="docs-heading" data-magellan-target="interchange">
    <a class="docs-heading-icon" href="#interchange"></a>
    Interchange
</h2>
<div class="docs-code-live">
    <img data-interchange="[http://placehold.it/485x485, small], [http://placehold.it/585x585, medium], [http://placehold.it/685x685, large]">
</div>