<h2 id="label" class="docs-heading" data-magellan-target="label">
    <a class="docs-heading-icon" href="#label"></a>
    Label
</h2>
<div class="docs-code-live"><span class="secondary label">Secondary Label</span>
    <span class="success label">Success Label</span>
    <span class="alert label">Alert Label</span>
    <span class="warning label">Warning Label</span></div>