<h2 id="magellan" class="docs-heading" data-magellan-target="magellan">
    <a class="docs-heading-icon" href="#magellan"></a>
    Magellan
</h2>
<ul class="horizontal menu" data-magellan>
    <li><a href="#first">First Arrival</a></li>
    <li><a href="#second">Second Arrival</a></li>
    <li><a href="#third">Third Arrival</a></li>
</ul>