<h2 id="menu" class="docs-heading" data-magellan-target="menu">
    <a class="docs-heading-icon" href="#menu"></a>
    Menu
</h2>
<div class="docs-code-live">
    <ul class="menu">
        <li><a href="#">One</a></li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
        <li><a href="#">Four</a></li>
    </ul>
</div>