<h2 id="off-canvas" class="docs-heading" data-magellan-target="off-canvas">
    <a class="docs-heading-icon" href="#off-canvas"></a>
    Off-canvas
</h2>
<div class="docs-code-live">
    <button type="button" class="button" data-toggle="offCanvasLeft">Open Menu</button>
</div>