<h2 id="responsive-menu" class="docs-heading" data-magellan-target="responsive-menu">
    <a class="docs-heading-icon" href="#responsive-menu"></a>
    Responsive Menu
</h2>
<div class="docs-code-live">
    <ul class="vertical medium-horizontal menu">
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
    </ul>
</div>