<h2 id="thumbnail" class="docs-heading" data-magellan-target="thumbnail">
    <a class="docs-heading-icon" href="#thumbnail"></a>
    Thumbnail
</h2>
<div class="docs-code-live">
    <div class="row">
        <div class="small-4 columns">
            <img class="thumbnail" src="http://placehold.it/485x485" alt="Photo of Uranus.">
        </div>
        <div class="small-4 columns">
            <img class="thumbnail" src="http://placehold.it/485x485" alt="Photo of Neptune.">
        </div>
        <div class="small-4 columns">
            <img class="thumbnail" src="http://placehold.it/485x485" alt="Photo of Pluto.">
        </div>
    </div>
</div>