<h2 id="typography">
    <a class="docs-heading-icon" href="#typography"></a>
    Typography
</h2>
<div>
    <h5>Standard Paragraph</h5>
    <p>
        <i>italic text</i>
        <strong>strong text</strong>
        senectus et netus et ac turpis egestas.
        Vestibulum tortor quam, <b>bold text</b>
        feugiat vitae, ultricies eget, tempor sit amet, ante.
        Donec eu libero sit amet quam egestas semper.
        <em>emphisized text</em> Mauris placerat eleifend leo.
        Quisque sit amet est et sapien ullamcorper pharetra.
        Vestibulum erat wisi, condimentum sed,
        <code>code snippit</code>, ornare sit amet, wisi.
        Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
        <a href="#">link</a> in turpis pulvinar facilisis. Ut felis.
    </p>
    <p>
        <i>italic text</i>
        <strong>strong text</strong>
        senectus et netus et ac turpis egestas.
        Vestibulum tortor quam, <b>bold text</b>
        feugiat vitae, ultricies eget, tempor sit amet, ante.
        Donec eu libero sit amet quam egestas semper.
        <em>emphisized text</em> Mauris placerat eleifend leo.
        Quisque sit amet est et sapien ullamcorper pharetra.
        Vestibulum erat wisi, condimentum sed,
        <code>code snippit</code>, ornare sit amet, wisi.
        Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
        <a href="#">link</a> in turpis pulvinar facilisis. Ut felis.
    </p>
    <hr>
    <h1>Heading 1 <small>small heading text</small></h1>
    <h2>Heading 2 <small>small heading text</small></h2>
    <h3>Heading 3 <small>small heading text</small></h3>
    <h4>Heading 4 <small>small heading text</small></h4>
    <h5>Heading 5 <small>small heading text</small></h5>
    <h6>Heading 6 <small>small heading text</small></h6>
    <br>
    <h1 class="subheader">Subheading 1 <small>small heading text</small></h1>
    <h2 class="subheader">Subheading 2 <small>small heading text</small></h2>
    <h3 class="subheader">Subheading 3 <small>small heading text</small></h3>
    <h4 class="subheader">Subheading 4 <small>small heading text</small></h4>
    <h5 class="subheader">Subheading 5 <small>small heading text</small></h5>
    <h6 class="subheader">Subheading 6 <small>small heading text</small></h6>
    <hr>
    <h3>Definition List</h3>
    <dl>
        <dt>Lower cost</dt>
        <dd>The new version of this product costs significantly less than the previous one!</dd>
        <dt>Easier to use</dt>
        <dd>We've changed the product so that it's much easier to use!</dd>
        <dt>Safe for kids</dt>
        <dd>You can leave your kids alone in a room with this product and they won't get hurt (not a guarantee).</dd>
    </dl>
    <hr>
    <h5>Un-ordered lists are great for making quick outlines bulleted.</h5>
    <ul>
        <li>List item with a much longer description or more content.</li>
        <li>List item</li>
        <li>List item
            <ul>
                <li>Nested List Item</li>
                <li>Nested List Item</li>
                <li>Nested List Item</li>
            </ul>
        </li>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
    </ul>
    <h5>Ordered lists are great for lists that need order, duh.</h5>
    <ol>
        <li>List Item 1</li>
        <li>List Item 2</li>
        <li>List Item 3</li>
    </ol>
    <hr>
    <h5>Blockquote</h5>
    <blockquote>I do not fear computers. I fear the lack of them. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur.<cite>Isaac Asimov</cite></blockquote>
    <hr>
    <h4 id="keystroke">Keystroke</h4>
    <p>To make something pretty, press and hold <kbd>cmd + alt + shift + w + a + !</kbd></p>
</div>