{% extends 'page.html.twig' %}
{% block content %}
    <section class="two-col-section">
        <div class="background"></div>
        <div class="row" data-equalizer data-equalize-on="medium">
            <article class="medium-8 large-9 columns content" data-equalizer-watch>
                <h1>Lorem ipsum dolor sit amet</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed et tellus finibus sapien dictum viverra nec id risus.
                    Nunc mollis rutrum tortor.
                    Morbi felis nunc, iaculis a fringilla ac, fermentum eu elit.
                    Donec ut dolor sed risus hendrerit porta eu nec justo.
                    Donec accumsan porta tortor.
                    Vivamus sed elit consequat, hendrerit elit quis, dignissim ligula.
                    Suspendisse potenti.
                    Donec bibendum vulputate nunc ut mollis.
                    Cras rutrum interdum fermentum. Aenean vitae porta neque.
                </p>
                <p>
                    Fusce vitae efficitur nisl.
                    Integer nunc est, sagittis eget venenatis rutrum, maximus vitae lorem.
                    Nunc viverra odio non luctus posuere. Sed at odio euismod, tincidunt dui non, eleifend eros.
                    Nulla pulvinar nibh diam, imperdiet aliquet sapien ornare tempor.
                    Nam id ipsum vel mi dictum facilisis.
                    In sagittis ultrices sapien interdum rhoncus.
                </p>
                <p>
                    Pellentesque aliquam nunc turpis, quis pellentesque purus eleifend in.
                    Ut et mauris ultricies, pulvinar massa vitae, mattis justo.
                    Sed auctor vehicula tortor eget facilisis.
                    Praesent fringilla efficitur massa.
                    Cras hendrerit, lorem a scelerisque finibus, nunc felis scelerisque nibh, et mollis massa turpis vitae massa.
                    Duis eu mauris malesuada ex dictum auctor.
                    Nunc sagittis ex a mi mattis, ac semper lorem hendrerit.
                    Suspendisse vitae arcu tristique, consectetur neque sit amet, ultricies enim.
                    Vestibulum convallis placerat convallis. Nunc ac vehicula odio.
                    Aenean velit risus, commodo eu mauris et, fringilla porta odio.
                </p>
                <p>
                    Sed quis rhoncus ex. Sed nec dictum lorem, sed volutpat leo.
                    Duis tincidunt eleifend nisl, eu sodales elit hendrerit vel.
                    Cras feugiat vitae nunc vel imperdiet.
                    Suspendisse facilisis rhoncus molestie.
                    Proin laoreet molestie eros, et auctor mi faucibus hendrerit.
                    Nulla ante justo, cursus vel iaculis id, mollis in libero.
                    Cras quis lobortis dolor, lacinia commodo ligula.
                    Nullam volutpat sapien gravida, faucibus nisl non, posuere libero.
                    Aliquam nisl nisl, bibendum vitae pretium eu, euismod sit amet ante.
                    Vivamus venenatis, nunc quis fringilla sollicitudin, metus magna dapibus metus, non consectetur orci mi non magna.
                    Fusce placerat vel tortor vitae posuere.
                </p>
                <p>
                    Donec sollicitudin neque elementum eros pellentesque vulputate.
                    Morbi vitae porttitor tellus.
                    Nam at aliquet odio, ut porttitor urna.
                    Curabitur diam augue, aliquam non nibh vitae, accumsan rutrum odio.
                    Vestibulum in massa orci.
                    Fusce ornare bibendum felis, eget rutrum augue blandit vitae. Phasellus sed pretium massa.
                </p>
            </article>
            <div class="medium-4 large-3 columns sidebar" data-equalizer-watch>
                <section>
                    <h4>Share</h4>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_reddit_large' displayText='Reddit'></span>
                    <span class='st_sharethis_large' displayText='ShareThis'></span>
                </section>
                <section>
                    <h4>News</h4>
                    <ul class="vertical menu">
                        <li><a href="">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet</a></li>
                    </ul>
                </section>
                <section>
                    <h4>Text Widget</h4>
                    <p class="text-justify">
                        Donec sollicitudin neque elementum eros pellentesque vulputate.
                        Morbi vitae porttitor tellus.
                        Nam at aliquet odio, ut porttitor urna.
                        Curabitur diam augue, aliquam non nibh vitae, accumsan rutrum odio.
                        Vestibulum in massa orci.
                        Fusce ornare bibendum felis, eget rutrum augue blandit vitae. Phasellus sed pretium massa.
                    </p>
                    <a href="" class="button">Call to Action</a>
                </section>
            </div>
        </div>
    </section>
{% endblock %}