{% extends 'page.html.twig' %}
{% block content %}
    <article>
        <div class="row">
            <div class="large-9 columns">
                <h1>Kitchen Sink</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns" id="docs">
                {% include 'kitchen/typography.html.twig' %}
                <hr>
                {% include 'kitchen/abide.html.twig' %}
                <hr>
                {% include 'kitchen/accordion.html.twig' %}
                <hr>
                {% include 'kitchen/accordion-menu.html.twig' %}
                <hr>
                {% include 'kitchen/badge.html.twig' %}
                <hr>
                {% include 'kitchen/breadcrumbs.twig' %}
                <hr>
                {% include 'kitchen/buttons.html.twig' %}
                <hr>
                {% include 'kitchen/callout.html.twig' %}
                <hr>
                {% include 'kitchen/close-button.html.twig' %}
                <hr>
                {% include 'kitchen/drilldown-menu.html.twig' %}
                <hr>
                {% include 'kitchen/dropdown-menu.html.twig' %}
                <hr>
                {% include 'kitchen/dropdown-pane.html.twig' %}
                <hr>
                {% include 'kitchen/equalizer.html.twig' %}
                <hr>
                {% include 'kitchen/flex-grid.html.twig' %}
                <hr>
                {% include 'kitchen/flex-video.html.twig' %}
                <hr>
                {% include 'kitchen/float-classes.html.twig' %}
                <hr>
                {% include 'kitchen/forms.html.twig' %}
                <hr>
                {% include 'kitchen/grid.html.twig' %}
                <hr>
                {% include 'kitchen/interchange.html.twig' %}
                <hr>
                {% include 'kitchen/label.html.twig' %}
                <hr>
                {% include 'kitchen/magellan.html.twig' %}
                <hr>
                {% include 'kitchen/media-object.html.twig' %}
                <hr>
                {% include 'kitchen/menu.html.twig' %}
                <hr>
                {% include 'kitchen/off-canvas.html.twig' %}
                <hr>
                {% include 'kitchen/orbit.html.twig' %}
                <hr>
                {% include 'kitchen/pagination.html.twig' %}
                <hr>
                {% include 'kitchen/progress-bar.html.twig' %}
                <hr>
                {% include 'kitchen/responsive-menu.html.twig' %}
                <hr>
                {% include 'kitchen/responsive-toggle.html.twig' %}
                <hr>
                {% include 'kitchen/reveal.html.twig' %}
                <hr>
                {% include 'kitchen/slider.html.twig' %}
                <hr>
                {% include 'kitchen/sticky.html.twig' %}
                <hr>
                {% include 'kitchen/switch.html.twig' %}
                <hr>
                {% include 'kitchen/table.html.twig' %}
                <hr>
                {% include 'kitchen/tabs.html.twig' %}
                <hr>
                {% include 'kitchen/thumbnail.html.twig' %}
                <hr>
                {% include 'kitchen/title-bar.html.twig' %}
                <hr>
                {% include 'kitchen/toggler.html.twig' %}
                <hr>
                {% include 'kitchen/tooltip.html.twig' %}
                <hr>
                {% include 'kitchen/top-bar.html.twig' %}
                <hr>
            </div>
        </div>
    </article>
{% endblock %}