{% extends 'page.html.twig' %}
{% block content %}
    <section class="main-section">
        <div class="row column">
            <h1>Rides - March</h1>
            <div class="clearfix">
                <a href="#" class="primary button float-left">Febuary</a>
                <a href="#" class="primary button float-right">April</a>
            </div>
            <div class="rides-calendar">
                <div class="week header">
                    <div class="day">
                        <div class="date">6 <span class="day-of-week">Sun</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">9:00<sup>am</sup></div>
                                <a href="#">Ascension Series 1 Beauties of Tabor</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Slow Poke Ride</a>
                            </li>
                            <li>
                                <div class="time">10:30<sup>am</sup></div>
                                <a href="#">A Larson's Bakery Ride</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">7 <span class="day-of-week">Mon</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Monday Morning Meander</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Two View Urban Ride</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Visit The Mercado de Agustin (Tucson Ride Series)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day active">
                        <div class="date">8 <span class="day-of-week">Tue</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">9:30<sup>am</sup></div>
                                <a href="#">Tuesday Morning Double Challenge</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Tue AM Spin</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">9 <span class="day-of-week">Wed</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">9:30<sup>am</sup></div>
                                <a href="#">Wednesday Morning Explorer</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">AGUA CALIENTE OASIS (Tucson Ride Series)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">10 <span class="day-of-week">Thu</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Westside Ride</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Thursday Morning Triple Challenge</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">11 <span class="day-of-week">Fri</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Friday Morning Quickie</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">JULIAN WASH/SANTA CRUZ TRAIL (Tucson Ride Series)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">12 <span class="day-of-week">Sat</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">9:00<sup>am</sup></div>
                                <a href="#">PWTC Reach The Beach Training Ride #4</a>
                            </li>
                            <li>
                                <div class="time">9:30<sup>am</sup></div>
                                <a href="#">Shute Park to Banks</a>
                            </li>
                            <li>
                                <div class="time">9:30<sup>am</sup></div>
                                <a href="#">Saturday Morning Medley</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Meet PWTC / BITS - Vancouver Bakery Loop</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="week header">
                    <div class="day">
                        <div class="date">13 <span class="day-of-week">Sun</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">9:00<sup>am</sup></div>
                                <a href="#">Ascension Series 1 Beauties of Tabor</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Slow Poke Ride</a>
                            </li>
                            <li>
                                <div class="time">10:30<sup>am</sup></div>
                                <a href="#">A Larson's Bakery Ride</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">14 <span class="day-of-week">Mon</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Monday Morning Meander</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Two View Urban Ride</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Visit The Mercado de Agustin (Tucson Ride Series)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">15 <span class="day-of-week">Tue</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">9:30<sup>am</sup></div>
                                <a href="#">Tuesday Morning Double Challenge</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Tue AM Spin</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">16 <span class="day-of-week">Wed</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">9:30<sup>am</sup></div>
                                <a href="#">Wednesday Morning Explorer</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">AGUA CALIENTE OASIS (Tucson Ride Series)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">17 <span class="day-of-week">Thu</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Westside Ride</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Thursday Morning Triple Challenge</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">18 <span class="day-of-week">Fri</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Friday Morning Quickie</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">JULIAN WASH/SANTA CRUZ TRAIL (Tucson Ride Series)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">19<span class="day-of-week">Sat</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">9:00<sup>am</sup></div>
                                <a href="#">PWTC Reach The Beach Training Ride #4</a>
                            </li>
                            <li>
                                <div class="time">9:30<sup>am</sup></div>
                                <a href="#">Shute Park to Banks</a>
                            </li>
                            <li>
                                <div class="time">9:30<sup>am</sup></div>
                                <a href="#">Saturday Morning Medley</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Meet PWTC / BITS - Vancouver Bakery Loop</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="week header">
                    <div class="day">
                        <div class="date">20 <span class="day-of-week">Sun</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">9:00<sup>am</sup></div>
                                <a href="#">Ascension Series 1 Beauties of Tabor</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Slow Poke Ride</a>
                            </li>
                            <li>
                                <div class="time">10:30<sup>am</sup></div>
                                <a href="#">A Larson's Bakery Ride</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">21 <span class="day-of-week">Mon</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Monday Morning Meander</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Two View Urban Ride</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Visit The Mercado de Agustin (Tucson Ride Series)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">22 <span class="day-of-week">Tue</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">9:30<sup>am</sup></div>
                                <a href="#">Tuesday Morning Double Challenge</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Tue AM Spin</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">23 <span class="day-of-week">Wed</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">9:30<sup>am</sup></div>
                                <a href="#">Wednesday Morning Explorer</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">AGUA CALIENTE OASIS (Tucson Ride Series)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">24 <span class="day-of-week">Thu</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Westside Ride</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Thursday Morning Triple Challenge</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">25 <span class="day-of-week">Fri</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Friday Morning Quickie</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">JULIAN WASH/SANTA CRUZ TRAIL (Tucson Ride Series)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">26 <span class="day-of-week">Sat</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">9:00<sup>am</sup></div>
                                <a href="#">PWTC Reach The Beach Training Ride #4</a>
                            </li>
                            <li>
                                <div class="time">9:30<sup>am</sup></div>
                                <a href="#">Shute Park to Banks</a>
                            </li>
                            <li>
                                <div class="time">9:30<sup>am</sup></div>
                                <a href="#">Saturday Morning Medley</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Meet PWTC / BITS - Vancouver Bakery Loop</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="week header">
                    <div class="day">
                        <div class="date">27 <span class="day-of-week">Sun</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">9:00<sup>am</sup></div>
                                <a href="#">Ascension Series 1 Beauties of Tabor</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Slow Poke Ride</a>
                            </li>
                            <li>
                                <div class="time">10:30<sup>am</sup></div>
                                <a href="#">A Larson's Bakery Ride</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">28 <span class="day-of-week">Mon</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Monday Morning Meander</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Two View Urban Ride</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Visit The Mercado de Agustin (Tucson Ride Series)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">29 <span class="day-of-week">Tue</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">9:30<sup>am</sup></div>
                                <a href="#">Tuesday Morning Double Challenge</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Tue AM Spin</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">30 <span class="day-of-week">Wed</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">9:30<sup>am</sup></div>
                                <a href="#">Wednesday Morning Explorer</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">AGUA CALIENTE OASIS (Tucson Ride Series)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">31 <span class="day-of-week">Thu</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Westside Ride</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Thursday Morning Triple Challenge</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">1 <span class="day-of-week">Fri</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Friday Morning Quickie</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">JULIAN WASH/SANTA CRUZ TRAIL (Tucson Ride Series)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">2 <span class="day-of-week">Sat</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">9:00<sup>am</sup></div>
                                <a href="#">PWTC Reach The Beach Training Ride #4</a>
                            </li>
                            <li>
                                <div class="time">9:30<sup>am</sup></div>
                                <a href="#">Shute Park to Banks</a>
                            </li>
                            <li>
                                <div class="time">9:30<sup>am</sup></div>
                                <a href="#">Saturday Morning Medley</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Meet PWTC / BITS - Vancouver Bakery Loop</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="week header">
                    <div class="day">
                        <div class="date">3 <span class="day-of-week">Sun</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">9:00<sup>am</sup></div>
                                <a href="#">Ascension Series 1 Beauties of Tabor</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Slow Poke Ride</a>
                            </li>
                            <li>
                                <div class="time">10:30<sup>am</sup></div>
                                <a href="#">A Larson's Bakery Ride</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">4 <span class="day-of-week">Mon</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Monday Morning Meander</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Two View Urban Ride</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Visit The Mercado de Agustin (Tucson Ride Series)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">5 <span class="day-of-week">Tue</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">9:30<sup>am</sup></div>
                                <a href="#">Tuesday Morning Double Challenge</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Tue AM Spin</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">6 <span class="day-of-week">Wed</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">9:30<sup>am</sup></div>
                                <a href="#">Wednesday Morning Explorer</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">AGUA CALIENTE OASIS (Tucson Ride Series)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">7 <span class="day-of-week">Thu</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Westside Ride</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Thursday Morning Triple Challenge</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">8 <span class="day-of-week">Fri</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Friday Morning Quickie</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">JULIAN WASH/SANTA CRUZ TRAIL (Tucson Ride Series)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="day">
                        <div class="date">9 <span class="day-of-week">Sat</span></div>
                        <ul class="vertical menu">
                            <li>
                                <div class="time">9:00<sup>am</sup></div>
                                <a href="#">PWTC Reach The Beach Training Ride #4</a>
                            </li>
                            <li>
                                <div class="time">9:30<sup>am</sup></div>
                                <a href="#">Shute Park to Banks</a>
                            </li>
                            <li>
                                <div class="time">9:30<sup>am</sup></div>
                                <a href="#">Saturday Morning Medley</a>
                            </li>
                            <li>
                                <div class="time">10:00<sup>am</sup></div>
                                <a href="#">Meet PWTC / BITS - Vancouver Bakery Loop</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <a href="#" class="primary button float-left">Febuary</a>
                <a href="#" class="primary button float-right">April</a>
            </div>
        </div>
    </section>
{% endblock %}