{% extends 'page.html.twig' %}
{% block content %}
    <div class="row small-up-2 medium-up-4 swatches">
        <div class="column text-center swatches__swatch">
            <ul class="menu vertical swatches__swatch__list">
                <li class="swatches__swatch__list__item alt" style="background-color:#BD3C4E">#BD3C4E</li>
                <li class="swatches__swatch__list__item alt" style="background-color:#4D545E">#4D545E</li>
                <li class="swatches__swatch__list__item" style="background-color:#72CCCA">#72CCCA</li>
                <li class="swatches__swatch__list__item" style="background-color:#E2D6BE">#E2D6BE</li>
            </ul>
        </div>
        <div class="column text-center swatches__swatch">
            <ul class="menu vertical swatches__swatch__list">
                <li class="swatches__swatch__list__item" style="background-color:#FF555A">#FF555A</li>
                <li class="swatches__swatch__list__item" style="background-color:#009BD9">#009BD9</li>
                <li class="swatches__swatch__list__item" style="background-color:#BFE6EC">#BFE6EC</li>
                <li class="swatches__swatch__list__item" style="background-color:#F7F6F6">#F7F6F6</li>
            </ul>
        </div>
        <div class="column text-center swatches__swatch">
            <ul class="menu vertical swatches__swatch__list">
                <li class="swatches__swatch__list__item" style="background-color:#55C34D">#55C34D</li>
                <li class="swatches__swatch__list__item alt" style="background-color:#02222B">#02222B</li>
                <li class="swatches__swatch__list__item alt" style="background-color:#053542">#053542</li>
                <li class="swatches__swatch__list__item alt" style="background-color:#074354">#074354</li>
                <li class="swatches__swatch__list__item" style="background-color:#BFE6EC">#BFE6EC</li>
            </ul>
        </div>
        <div class="column text-center swatches__swatch">
            <ul class="menu vertical swatches__swatch__list">
                <li class="swatches__swatch__list__item" style="background-color:#EB4549">#EB4549</li>
                <li class="swatches__swatch__list__item alt" style="background-color:#112233">#112233</li>
                <li class="swatches__swatch__list__item" style="background-color:#44BBFF">#44BBFF</li>
                <li class="swatches__swatch__list__item" style="background-color:#66CC99">#66CC99</li>
                <li class="swatches__swatch__list__item" style="background-color:#F8F2E2">#F8F2E2</li>
            </ul>
        </div>
    </div>
{% endblock %}