{% extends 'page.html.twig' %}
{% block content %}
    <section class="three-col-section">
        <div class="background"></div>
        <div class="row" data-equalizer data-equalize-on="medium">
            <div class="medium-12 large-3 columns sidebar hide-for-small-only">
                <section class="side-nav">
                    <h4>Related Pages</h4>
                    <ul class="vertical medium-horizontal large-vertical menu">
                        <li><a href="">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet</a></li>
                    </ul>
                </section>
            </div>
            <article class="medium-8 large-6 columns content" data-equalizer-watch>
                <h1>About Us</h1>
                <h4>PORTLAND'S LARGEST BICYCLE CLUB WITH RIDES EVERY DAY OF THE WEEK!</h4>
                <p>The Portland Wheelmen Touring Club was founded in 1971 to promote cycling and to provide a social organization for bicyclists.</p>
                <p>Use our forum at <a href="http://forum.pwtc.com">http://forum.pwtc.com</a> to discuss with others and find out current information.</p>
                <p>Boasting over 600 members, the primary focus of the club is recreational riding with up to two dozen rides being offered on a weekly basis, including rides every day of the year and many evenings. Rides are listed on the <a href="http://www.pwtc.com/calendar">online calendar</a>. Area bike shops receive monthly informational brochures.</p>
                <p>We are a Non-Profit 501(C)3 organization, supporting safe cycling and programs for youth. Interested in being a sponsor for the 2016 Pioneer Century? <a href="http://pwtc.com/files/downloads/SponsorLetter2016.pdf">Click here</a> for more information. To make an online donation to the Club for any reason, click <a href="http://pwtc.com/civicrm/contribute/transact?reset=1&amp;id=9">HERE</a>.</p>
                <h4>MEMBERSHIP</h4>
                <p>PWTC welcomes riders of all abilities. The annual membership includes a monthly newsletter, <a href="http://pwtc.com/files/downloads/ShopDiscount.pdf">CLUB DISCOUNTS</a><a href="http://pwtc.com/files/downloads/ShopDiscount.pdf"> </a>at 20 area bike shops, and is a great way to network with cyclists in the area. To join, <a href="http://www.pwtc.com/join" target="_self">register online</a>, or print out this <a href="http://www.pwtc.com/files/downloads/MembershipForm_0.pdf" target="_blank">Membership Form</a>, complete it, and mail it in.</p>
                <h4>CLUB MEETING</h4>
                <p>Our meeting is held the first Thursday of the month at 7:00 p.m. at All Saints Episcopal Church, 4033 SE Woodstock Blvd., Portland. <a href="https://www.google.com/maps/place/All+Saints+Episcopal+Church/@45.479443,-122.62101,15z/data=!4m2!3m1!1s0x0:0x2a5821b2641ec367" target="_blank">Map</a>&nbsp;Come out and hear great presenters on bike-related topics and learn first hand about all the new initiatives of the Club. Note: <em>The April 2015 meeting will not be held at the church. We will meet at Old Towne Pizza for this meeting only: 5201 NE Martin Luther King Junior Blvd.</em></p>
                <h4>EXECUTIVE BOARD</h4>
                <p>PWTC is governed by an 11-member Executive Board. Elections are held in December for President, Vice-President, Treasurer, Recording Secretary, Membership Secretary, Assistant Road Captain (moves to Road Captain after 6 months), and two Member-at-Large positions. Elections for the other two Member-at-Large postions are held in June as well as Assistant Road Captain. Click <a href="http://pwtc.com/ExecutiveBoard">HERE </a>to meet our PWTC Board members.</p>
                <h4>SAFETY</h4>
                <p>Safety on the road is a high priority for PWTC and a major concern in the Portland Metropolitan area. Check out this article on <a href="http://www.pwtc.com/Safety">RIDING IN GROUPS</a> and stay tuned for future articles on our Safety page.</p>
                <h5>LINKS TO OTHER INFORMATION</h5>
                <p>Learn more about the Portland Wheelmen Touring Club by clicking on the links below:</p>
                <p>Club and Rider Information - <a href="http://pwtc.com/files/downloads/FAQ_Rev3.pdf">FAQs</a></p>
                <p>Resources - <a href="http://www.pwtc.com/ResourceLinks">Links </a>to other bike clubs, bike shops, organizations, and rentals - <a href="http://www.pwtc.com/ResourceLinks">Resource Links</a></p>
            </article>
            <div class="medium-4 large-3 columns sidebar" data-equalizer-watch>
                <section>
                    <h4>Share</h4>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_reddit_large' displayText='Reddit'></span>
                    <span class='st_sharethis_large' displayText='ShareThis'></span>
                </section>
                <section>
                    <h4>News</h4>
                    <ul class="vertical menu">
                        <li><a href="">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet</a></li>
                    </ul>
                </section>
                <section>
                    <h4>Upcoming Riddes</h4>
                    <ul class="vertical menu">
                        <li><a href="">Tuesday Morning Double Challenge</a></li>
                        <li><a href="">Tuesday AM Spin</a></li>
                        <li><a href="">Wednesday Morning Explorer</a></li>
                        <li><a href="">Tucson Neighborhood Explorer</a></li>
                    </ul>
                </section>
            </div>
            <div class="medium-12 large-3 columns sidebar hide-for-medium">
                <section class="side-nav">
                    <h4>Related Pages</h4>
                    <ul class="vertical medium-horizontal large-vertical menu">
                        <li><a href="">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="">Lorem ipsum dolor sit amet</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </section>
{% endblock %}