<footer class="footer">
    <div class="row">
        <div class="medium-6 lrge-8 columns">
            <ul class="vertical medium-horizontal menu">
                <li><a href="{{ url('kitchen') }}">Kitchen Sink</a></li>
                <li><a href="{{ url('home') }}">Home</a></li>
                <li><a href="{{ url('inner') }}">Inner Page</a></li>
                <li><a href="{{ url('rides') }}">Rides</a></li>
            </ul>
            <hr />
            <ul class="no-bullet">
                <li><i class="fa fa-building"></i> P.O. Box 2972 Portland OR 97208-2972</li>
                <li><i class="fa fa-envelope"></i> <a href="#">admin@pwtc.org</a></li>
                <li><i class="fa fa-phone"></i> <a href="#">123.123.1234?</a></li>
                <li>
                    <ul class="menu">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="medium-6 large-4 columns">
            <form action="#" method="post">
                <input type="email" placeholder="Email">
                <textarea placeholder="Message"></textarea>
                <div class="text-right">
                    <input type="submit" class="large button" value="Contact Us" />
                </div>
            </form>
        </div>
    </div>
</footer>